/*html, body{
    height: 100px;
}*/
body{
    font-family: 'Trebuchet MS', sans-serif;
}
.footer{
    background: rgb(243, 247, 248);
    color:navy;
    height:920px;
    position:relative;
}
.footer .footer-content{
    height:870px;
    display:flex;
}   
.footer .footer-content .footer-section{
    flex: 1;
    padding: 50px;    
}
.footer .footer-bottom1{
    color:rgb(185, 181, 181);
    height: 30px;
    position: absolute;
    bottom:0px;
    left:50px;
    padding-top: 20px;
}
.footer .footer-bottom2{
    color:rgb(185, 181, 181);
    height:30px;
    position:absolute;
    bottom:0px;
    right:50px;
    padding-top:20px;
}